<a href="https://colab.research.google.com/github/ettyang/ds1002-efq3pk/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [3]:
# code here
val = 0

while val < 20:
  if val % 2 == 0:
    print ('even')
  val += 1
  print (val)

even
1
2
even
3
4
even
5
6
even
7
8
even
9
10
even
11
12
even
13
14
even
15
16
even
17
18
even
19
20

## For-Loops with Lists

In [4]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [5]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.

for val in mylist:
  if val >=  0:
    print(val)

9
15
23
4
92
47
33
17
18
38

In [14]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.

for val in mylist:
  if val <=  0:
    val = val * (-1)
  print(val)

9
15
23
4
92
47
33
17
4
18
38
242

In [16]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
for val in mylist:
  if val > 20 and val < 40:
    continue
  print(val)

9
15
4
92
47
17
-4
18
-242

## For-Loops with Dictionaries

In [17]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [18]:
# Write a command to print out all the keys of this dict
for country in capitals:
  print (country)

United States
Italy
England
Thailand
Brazil

In [19]:
# Write a command to print out all the values of this dict
for country in capitals:
  print (capitals[country])

Washington DC
Rome
London
Bangkok
Brasilia

In [20]:
# Write a command to print all the keys and values for this dict
for key, value in capitals.items():
  print (key, " ", value)

United States   Washington DC
Italy   Rome
England   London
Thailand   Bangkok
Brazil   Brasilia

In [42]:
# Write a command to print only the first three values and NOTHING more.
i = 0

while i < 3:
  for country in capitals:
    print (capitals[country])
    i += 1
    if i == 3:
      break

Washington DC
Rome
London